<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置mybatis 关联mapper接口-->
<mapper namespace="com.sky.mapper.appmapper.UserShoppingCartMapper">
    <delete id="deleteById">
        delete
        from shopping_cart
        <where>
            <if test="dishId != null">
                dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>

        </where>
    </delete>


    <select id="selectShoppingCart" resultType="com.sky.entity.ShoppingCart">
        select *
        from shopping_cart
        <where>
            <if test="dishId != null">
                dish_id = #{dishId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
        </where>
    </select>
    <select id="selectById" resultType="com.sky.entity.ShoppingCart">
        select *
        from shopping_cart
        <where>
            <if test="dishId != null">
                dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                setmeal_id = #{setmealId}
            </if>

        </where>
    </select>
</mapper>