<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置mybatis 关联mapper接口-->
<mapper namespace="com.sky.mapper.DishMapper">
    <!--修改菜品数据-->
    <update id="update">
        update dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>

        </set>
        where id = #{id};

    </update>
    <!--根据id删除菜品信息-->
    <delete id="deleteDishIds">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--分页查询菜品-->
    <select id="select" resultType="com.sky.vo.DishVO">
        select d.*, c.name 'categoryName' from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and c.status = #{status}
            </if>

        </where>
        order by d.create_time desc
    </select>

    <!--查询统计起售的菜品数量-->
    <select id="countDishByIds" resultType="java.lang.Long">
        select count(*) from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 1


    </select>
</mapper>
